.banner{
    margin-top: 15px;
    width: 100%;
    height: 200px;
    background-color: lightskyblue;

    .text3{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 150px;
    }

}